body, html {
    margin: 0;
    font-family: "Roboto", sans-serif;
    width: 100vw;
    height: 100vh;
}


.header {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    align-items: center;
    background: linear-gradient(0.25turn,#dc09fc, #f3b0d3, #194eff);
    height: 5vh;
    width: auto;
}

.first {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 1;
    background-color: #1F2937;
    height: 25vh;
    width: 100vw;
}

.hero_maintext {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
}

.hero_subtext, .social_links {
    font-size: 18px;
    color: #E5E7EB;
}

.hero_image {
    width: 250px;
    height: auto;
}

.second {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 30vh;
    width: 100vw;
    background-color: -black;
}

.info_maintext {
    font-size: 36px;
    font-weight: extra-bold;
    color: #1F2937;
    margin-top: 20px;
    margin-bottom: 30px;

}

.info_images {
    display: flex;
    gap: 10vw;
}

.info_text {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    gap: 10vw;
    font-size: 18px;
    color: #161617;
    text-align: center;
}

.one, .two, .three, .four {
    width: 12vw;
    height: 15vh;
}

.image1, .image2, .image3, .image4 {
    border: 5px solid #ea00ff;
    padding: 1px;
}

.third {
    background-color: #E5E7EB;
    height: 20vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: flex-end;
}

.quote_container {
    width: 80vw;
    height: auto;
}

.quote_text {
    font-size: 18px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
}

.fourth {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    width: 100vw;

}

.cta_container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: space-around;
    justify-content: center;
    background-color: #3882F6;
    width: 50vw;
    height: 9vh;
    border-radius: 15px;
}
.cta_button {
    background-color: #3882F6;
    border-radius: 30px;
    border: 2px solid; 
    color: #ffffff;
    width: 10vw;
    height: 3vh;
    margin: 30px 30px 30px;
}

.cta_text {
    margin-left: 20px;
    font-size: 15px;
    color: #ffffff;
}

.footer {
    height: 5vh;
    width: 100vw;
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_text {
    color: #ffffff;
}

h2 {
    font-family: "FUTURE GEISHA", sans-serif;
    text-align: center;
    color: #4b005f;
    font-size: 30px;
    letter-spacing: 6px;
    font-weight: 300;
    margin: 0;
    line-height: 0;
    animation: glitch1 0.5s infinite;
}

h2:nth-child(2) {
    color: #0ef0e1;
    animation: glitch2 1.0s infinite;
}

h2:nth-child(3) {
    color: #ff94eb;
    animation: glitch3 1.0s infinite;
}

@keyframes glitch1 {
    0% {
        transform: none;
        opacity: 1;
    }
    50% {
        transform: skew(-2deg, 0.6deg);
        opacity: 0.75;
    }
    100% {
        transform: none;
        opacity: 1;
    }
}

@keyframes glitch2 {
    0% {
        transform: none;
        opacity: 0.25;
    }
    50% {
        transform: translate(-3px, -1px);
        opacity: 0.5;
    }
    100% {
        transform: none;
        opacity: 0.25;
    }
}

@keyframes glitch3 {
    0% {
        transform: none;
        opacity: 0.25;
    }
    50% {
        transform: translate(3px, 1px);
        opacity: 0.5;
    }
    100% {
        transform: none;
        opacity: 0.25;
    }
}

@font-face {
    font-family: "FUTURE GEISHA";
    src: url("/home/hokeiiiching/Downloads/Fonts/future-geisha/FUTUREGEISHA.otf");
}









